.container{
    background-color: rgb(30, 30, 30);
    border-radius: .5rem;

    width: fit-content;
    height: fit-content;
    margin: 1rem 5rem 1rem 1rem;


    position: relative;
    display: inline-block;
    box-shadow: 0 0 10px 1px rgba(0, 255, 0, 1);
    transition: .3s;

    margin-bottom: 5rem;

    text-align: center;
}

.container:hover{
    box-shadow: 0 0 10px 10px rgba(0, 255, 0, 1);
}

.card{
    cursor: pointer;
}

.botonCerrar{
    background-color: red;
    border-radius: 0.5rem;  

    width: 2.5rem;
    height: 2.5rem;

    font-weight: 1000;
    font-size: large;

    position: absolute;
    cursor: pointer;

    float: right;
    top: -15px;
    right: -15px;
    transition: .2s;
}

.botonCerrar:hover{
    transform: scale(1.25);
    transform: rotate(10deg);
}

.imagen{
    border-radius: 0;
    height: 260px;
}
